@model Crypto.ArqLimpia.BL.DTOs.getProductsOutputDTOs

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        Details
    </div>
    <div class="card-body">
            
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                 @Html.DisplayFor(model => model.ProductName)
                <div class="mb-3">
                    <label class="form-label">Description</label>
                     @Html.DisplayFor(model => model.ProductDescription)
               </div>

                <div class="mb-3">
                    <label class="form-label">Amount</label>
                    @Html.DisplayFor(model => model.Amount)
                   
                </div>

                <div class="mb-3">
                    <label class="form-label">price</label>
                    @Html.DisplayFor(model => model.price)
                </div>
                <a asp-action="Index" asp-controller="Product" class="btn btn-success"><i class="bi bi-arrow-left"></i>Back to list</a>
      
    </div>
</div>