@model IEnumerable<Crypto.ArqLimpia.BL.DTOs.getProductsOutputDTOs>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor y Tabla de Criptomonedas</title>
</head>
<body>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #5d87ff; border-bottom: 1px solid #e0e0e0;">
            <a asp-action="Index" asp-controller="Order" class="btn btn-danger">Orders</a>
            <h3 style="margin: 0; padding: 10px; flex: 1; text-align: center; color:white">Ordenes</h3>
            <a asp-action="Create" asp-controller="Product" class="btn btn-warning">+</a>
        </div>

        <div class="card-body" style="background-color: #FFFFFF;">
            <hr />
            <div class="table-responsive" style="background-color: #FFFFFF;">
                <table class="table table-bordered table-hover">
                    <thead style="background-color: #5d87ff;">
                        <tr style=" color:white ">
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>

                                <td class="text-center">
                                    <form method="post" asp-controller="Order" asp-action="AddOrder">
                                        <input type="hidden" name="product_id" value="@item.Id" />
                                        <input type="number" name="Quantity" />
                                        <button type="submit" class="btn btn-primary">+</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>