@model IEnumerable<Crypto.ArqLimpia.BL.DTOs.GetAllOrderOutputDTOs>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor y Tabla de Criptomonedas</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #384B6D; border-bottom: 1px solid #e0e0e0;">
            <a asp-action="Index" asp-controller="Product" class="btn btn-warning">VOLVER</a>
            <h3 style="margin: 0; padding: 10px; flex: 1; text-align: center; color:gold">ORDENES</h3>
        </div>

        <div class="card-body" style="background-color: #FFFFFF;">
            <hr />
            <div class="table-responsive" style="background-color: #FFFFFF;">
                <table class="table table-bordered table-hover">
                    <thead style="background-color: #384B6D;">
                        <tr style=" color:gold ">
                            <th>Date</th>
                            <th>Email</th>
                            <th>Cryptocurrency ID</th>
                            <th>Quantity</th>
                          
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DateOrder</td>
                                <td>@item.email</td>
                                <td>@item.product_id</td>
                               
                                <td>
                                    <a asp-action="OrderDetails" asp-route-Id="@item.Id" asp-controller="Order" class="btn btn-warning">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
